html {
  scroll-behavior: auto;
  font-size: 100%;
}

html,
body {
  height: 100%;
  color: var(--font-color-primary);
  background-color: var(--background-primary);
}

:root {
  --spacing-1: 0.8vw;
  --spacing-2: 1vw;
  --spacing-3: 1.3vw;
  --spacing-4: 1.8vw;
  --spacing-5: 4vw;
  --border-radius-box: 5px;
  --color-white: #f2f3f4;
  --color-blue: #043655;
  --color-black: #1d1d1c;
  --font-color-primary: var(--color-white);
  --font-color-secondary: var(--color-black);
  --accent-primary: var(--color-white);
  --accent-secondary: var(--color-black);
  --background-primary: var(--color-black);
  --background-secondary: var(--color-white);
  --background-opacity: rgba(0, 0, 0, 0.1);
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Roboto Flex", sans-serif;
  --font-size-XXL: 10vw;
  --font-size-XL: 8vw;
  --font-size-L: 6vw;
  --font-size-M: 3vw;
  --font-size-S: 1.8vw;
  --font-size-XS: 1.2vw;
  --font-size-XXS: 1vw;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out, color 0.2s linear,
    background-color 0.2s linear;
  position: relative;
  padding: 0;
}

body {
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-style: normal;
  font-size: var(--font-size-XS);
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-style: normal;
  margin-bottom: var(--spacing-2);
  margin-top: 0;
}

h1 {
  font-size: var(--font-size-XXL);
  margin-bottom: 0;
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-XL);
}

h3 {
  font-size: var(--font-size-L);
}

h4 {
  font-size: var(--font-size-M);
}

h5 {
  font-size: var(--font-size-S);
}

h6 {
  font-size: var(--font-size-XS);
}

p {
  margin-top: 0;
  line-height: 1.3;
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-style: normal;
  font-size: var(--font-size-XS);
}

.background-inverted {
  background-color: var(--background-secondary);
  color: var(--font-color-secondary);
}

.background-inverted a {
  color: var(--font-color-secondary);
}

.background-inverted a::after {
  background-color: var(--font-color-secondary);
}

/** Grid Positioning */

/** Main formatting */

section {
  overflow: hidden;
}

.item {
  margin: var(--spacing-1) 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.item img {
  display: block;
}

.rellax {
  transition: none;
}

/** Logo */

/** Text */
.title {
  grid-column: span 8;
}

.item-inner {
  margin: var(--spacing-4);
}

.block-quote {
  grid-column: span 4;
  font-style: italic;
  font-size: var(--font-size-XXS);
}

.underline {
  margin-right: auto;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--font-color-primary);
  transform-origin: bottom left;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.underline.visible::after {
  transform: scaleX(1);
}

/** Buttons */
a,
button {
  font-family: var(--font-family-secondary);
  color: var(--font-color-primary);
  background: none;
  font-size: var(--font-size-XS);
  text-decoration: none;
  margin-bottom: var(--spacing-1);
  margin-right: auto;
  display: block;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
}

a.link,
button.link {
  flex-direction: row;
  grid-column: span 3;
  white-space: nowrap;
  margin: 0;
  margin-top: auto;
  margin-bottom: var(--spacing-1);
  margin-right: auto;
}

a::after,
button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: var(--font-color-primary);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

a:hover::after,
button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-out::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-out:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.underline-out-icon {
  align-items: center;
  display: flex;
}

.underline-out-icon::after {
  transform: scaleX(1);
}

.underline-out-icon:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.lucide {
  color: var(--font-color-primary);
  width: var(--font-size-S);
  height: var(--font-size-S);
}

.underline-out-icon svg {
  max-width: 0;
  overflow: hidden;
  font-size: calc(0.75 * var(--font-size-XS));
}

.underline-out-icon:hover svg {
  padding-right: var(--spacing-1);
  max-width: 2rem;
}

.dropdown {
  grid-column: span 2;
}

.dropdown-open {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-1);
}

.dropdown-open::after {
  display: none;
}

.dropdown-open i {
  margin-left: var(--spacing-1);
}

.dropdown-open:hover i {
  transform: rotate(180deg);
}

.dropdown-content {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-width: 15vw;
  z-index: 999;
  left: 0;
  transform: translateY(10px);
  transition: all 0.1s;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.5s, visibility 0.2s, transform 0.5s;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: calc(var(--spacing-3) * -1);
  height: var(--spacing-3);
  width: 100%;
  z-index: -1;
}

.dropdown-content a {
  margin-bottom: var(--spacing-5);
  color: var(--font-color-primary);
  cursor: pointer;
}

/** Lists */
.item.list {
  grid-column: span 2;
}

li,
ul {
  list-style: none;
}

li {
  font-size: var(--font-size-XS);
  position: relative;
  margin-bottom: var(--spacing-1);
}

.list-title {
  font-weight: bold;
}

.faded-list li {
  opacity: 0.8;
}

.data-list {
  grid-column: span 4;
}

.data-title {
  display: flex;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-S);
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-2);
}

.data-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: calc(var(--spacing-1) * -0.5);
  left: 0;
  background-color: var(--font-color-primary);
}

.data-item {
  display: flex;
  align-items: center;
}

.data-item-title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-XS);
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-1);
}

.data-figure {
  font-size: var(--font-size-XS);
  margin-right: var(--spacing-2);
  margin-bottom: var(--spacing-1);
  margin-left: auto;
}

/** Accents */
.accent {
  white-space: nowrap;
  grid-column: span 1;
}

.index-counter {
  font-size: var(--font-size-XXS);
  opacity: 0.8;
}

.progress-bar {
  height: 2px;
  background: var(--accent-primary);
  width: 0%;
  z-index: 10000;
}

/** Text Effects */

@keyframes marqueeLoop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.marquee {
  grid-column: span 16;
}

.marquee-wrap {
  display: flex;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: 18vw;
  padding-right: 0.25em;
  animation: marqueeLoop 5s infinite linear;
}

/** Forms */

/** Images */

.image-website {
  grid-column: 3 / 15;
}

.image-website img {
  width: 100%;
  object-fit: cover;
}

/* Responsive design for mobile */
@media (max-width: 767px) {
  :root {
    --spacing-1: 3.2vw;
    --spacing-2: 4vw;
    --spacing-3: 4.6vw;
    --spacing-4: 5vw;
    --spacing-5: 7vw;
    --font-size-XXL: 18vw;
    --font-size-XL: 12vw;
    --font-size-L: 6vw;
    --font-size-M: 5vw;
    --font-size-S: 4vw;
    --font-size-XS: 3vw;
    --font-size-XXS: 2vw;
  }

  html {
    scroll-behavior: auto;
    font-size: 90%;
  }

  h1 {
    font-size: var(--font-size-XXL);
  }

  h2 {
    font-size: var(--font-size-XL);
  }

  h3 {
    font-size: var(--font-size-L);
  }

  h4,
  h5,
  h6 {
    font-size: var(--font-size-L);
  }

  p,
  a,
  button {
    font-size: var(--font-size-XS);
  }

  /** Grid Positioning */

  section .accent {
    grid-column: 1;
    margin: auto;
  }

 
  /** Main Formatting */

  .item-inner {
    margin: 0;
  }

  /** Text */

  .title {
    grid-column: span 6;
  }

  .block-quote {
    grid-column: span 4;
  }

  .block-quote {
    grid-column: span 5;
  }

  /** Buttons */

  .hover-underline a::after {
    content: none;
  }

  /** Text Effects */



  .marquee {
    grid-column: span 6;
  }

  /** Forms */

  .contact-form {
    grid-column: 1 / 7;
  }

  /** Images */

  .image-website {
    grid-column: span 6;
  }
}

/* Responsive design for tablet */
